$bright1: whitesmoke;
$bright2: #ccc;
//$orange: rgba(253, 128, 93, 1);
$cyan: rgba(16,245,229,1);
$orange: rgba(16,245,229,1);
$opaqueorange: rgba(16, 245, 229, 0.2);
$darkred: #ab0124;
$reversed: #0176AC;
$darkblue: #294252;
$darkgrey:#222;
$greyblue: #56799C;
$red: #E65449;
$pink: #FE517E;