@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

//color variables

$bright1: whitesmoke;
$bright2: #ccc;

body, html {
    overflow: hidden;
}