@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import "@/style/mixins.scss";
@import "@/style/colors.scss";

* {
    font-family: 'Tajawal', sans-serif;
}

body, html {
    overflow: hidden;
}

.visible {
    opacity:1 !important;
    pointer-events:all !important;
}


.division {
    max-height:80vh;
    width:calc(100% + 50px);
    padding-right:50px;
    overflow:auto;

    @media(max-device-width:720px){
        overflow:visible;

        .confirm_btn {
            margin-bottom:30px !important;
        }
    }

    .heatmap_buttons {
        display:flex;
        justify-content:space-between;
        margin:20px auto;

        .v-btn {
            flex:0 0 24%;
            border:1px solid whitesmoke;
            border-radius:0px;
            background:$reversed !important;

            .v-icon {
                color:whitesmoke;
                font-size: 18px;
            }

            &:hover {
                background:#222 !important;
            }
        }
    }

    .main_btn {
        width:100%;
        border-radius:0px;
        border:1px solid #222;

        &:hover {
            background: black !important;
            color:whitesmoke;
            border:1px solid $orange;
        }
    }

    .component_content {
        padding:20px;
        box-sizing: border-box;

        &.scenario {
            padding:0;

            h2 {
                padding:10px;
                margin-top:20px;
                margin-bottom:-10px;
            }
        }

        h2 {
            font-size:100%;
            color:$bright1;
            text-align:left;
        }

        .v-card {
            box-shadow: none;
        }

        .v-select {
            font-size: 10px;
            overflow: visible;

            @media(max-device-width:1100px) {
                overflow: hidden;
            }
        }

        .saved_scenarios h4 {
            margin-left: 10px;
            color:whitesmoke;
            text-align: left;
            font-size: 13px;
            line-height: normal;
        }

        .scenario_box {
            position:relative;
            padding:10px;
            box-sizing: border-box;
            margin:3px auto;
            width:calc(100% - 20px);


            &:after {
                display:block;
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:$darkblue;
                opacity:0.35;
                z-index:-1;
            }

            &.highlight {
                &:after {
                    background:$darkred;
                }
            }

            &:hover {
                &:after {
                    opacity:0.5;
                }
            }
        }


        .container {
            //border: 1px solid #222;
            margin: 5px auto;

            header {
                //color:$orange;
                font-size:90%;
                color:white;
            }

            .v-slider {
                margin-top: 25px;
            }


            ::v-deep.v-input {
                margin:4px !important;
                font-size:90%;
                // display:none !important; // @bert: why is this set?

                ::v-deep.v-messages {
                    display:none !important;
                }
            }
        }

        .confirm_btn {
            width:calc(100% - 20px);
            border-radius:0px;
            margin: 0px 10px;
            background:$reversed !important;
            color:$bright1;
            @include drop_shadow;

            &.changesMade {
                background:$greyblue !important;
                //animation:pulse 1.5s infinite;
                //-webkit-animation: pulse 1.5s infinite;
                overflow:hidden;

                &:hover {
                    animation:none;
                    -webkit-animation: none;
                }

                &:after {
                    content:'';
                    width:300%;
                    height:1px;
                    position:absolute;
                    bottom:0;
                    left:0;
                    //border-top:1px solid salmon;
                    background:linear-gradient(45deg, white, $darkred);
                    animation:pulse-border 2.5s infinite;
                    -webkit-animation:pulse-border 2.5s infinite;
                }
            }

            &:hover {
                cursor:pointer;
            }
        }
        .info_section {
            color:$bright1;
            text-align: left;
            font-weight: normal;
            font-size: 14px;
            line-height: normal;

            .info_text {
                margin-bottom: 16px;
            }
        }
    }
}

@-webkit-keyframes pulse {
    0% {
      transform:scale(.99);
    }
    70% {
      transform:scale(1);
    }
      100% {
      transform:scale(.99);
    }
  }

@-webkit-keyframes pulse-border {
    0% {
        transform:translateX(-100%);
    }
    70% {
        transform:translateX(0);
    }
    100% {
        transform:translateX(100%);
    }
}


//MODAL STYLING

#modals-container {
    .vm--container {
        pointer-events:none;
        .vm--overlay {
            background:transparent;
        }

        .vm--modal {
            pointer-events:all;
            background:transparent;
            z-index:1;

            &:hover {
                z-index:3;
            }
        }
    }
}
